# Entornos virtuales
.venv/
.env

# Datos pesados (datasets locales)
data/
runs/
checkpoints/

# Cachés y compilados
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/
*.log

# Archivos de sistema / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Git
.git/
.gitignore
